In [46]:
import pandas as pd
file = pd.read_csv('train.csv')
file

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [49]:
new_file = file[['PassengerId','Survived','Pclass','Name','Sex','Age','SibSp','Parch','Ticket','Fare','Cabin','Embarked']]
new_file.groupby(['Sex']).agg({'Age':'mean'})

              Age
Sex
female  27.915709
male    30.726645

In [50]:
new_file.groupby(['Survived', 'Sex']).agg({'Age':'mean'})

                       Age
Survived Sex
0        female  25.046875
         male    31.618056
1        female  28.847716
         male    27.276022

In [51]:
new_file.groupby(['Embarked', 'Sex']).agg({'Age':'mean'})

                       Age
Embarked Sex
C        female  28.344262
         male    32.998841
Q        female  24.291667
         male    30.937500
S        female  27.771505
         male    30.291440

In [52]:
new_file.groupby(['Embarked', 'Sex']).agg({'Age':'mean'}).sort_values(['Age', 'Sex'])

                       Age
Embarked Sex
Q        female  24.291667
S        female  27.771505
C        female  28.344262
S        male    30.291440
Q        male    30.937500
C        male    32.998841

In [57]:
new_file['Ticket']

0             A/5 21171
1              PC 17599
2      STON/O2. 3101282
3                113803
4                373450
             ...
886              211536
887              112053
888          W./C. 6607
889              111369
890              370376
Name: Ticket, Length: 891, dtype: object

In [59]:
a = [int(i) for i in input(new_file['Ticket'])]
if sum(a[:3]) == sum(a[3:]):
    print('lucky ')
else:
    print('unlucky')

unlucky